<div class="cat-wrapper">
  <h1>New category</h1>
</div>

<div class="cat-form">
  <%= render "form", group: @group %>

  <br>

  <div>
    <%= link_to "Back to groups", groups_path %>
  </div>
</div>
