@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

.app {
  position: relative;
  margin: 0 auto;
  display: flex;
  max-width: 450px;
  background: linear-gradient(black, rgba(128, 128, 128, 0.329)), url(https://media.istockphoto.com/id/1256373467/photo/value-price-scale-business-concept.jpg?s=612x612&w=0&k=20&c=URefASh2uE8VJVyMISxWy13NpM8AMrp1lsk_xcwSI78=);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  align-items: center;
  flex-direction: column;
}

#destroy-session {
  color: white;
  border: none;
  position: absolute;
  bottom: 30px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 3px black;
  background-color: red;
  padding: 10px 20px;
  text-decoration: none;
}

// Common tags

.notice,
.alert {
  position: absolute;
  background-color: #d1e7dd;
  color: #0f5132;
  left: -100%;
  top: 20px;
  border-radius: 10px;
  text-align: center;
  font-size: 14px;
  padding: 20px;
  animation: slide-down 2s alternate;
  z-index: 3;
}

@keyframes slide-down {
  100% {
    left: 0;
  }

  40% {
    left: 0;
  }
}

.alert {
  color: red;
}

#back-btn {
  text-decoration: none;
  color: white;
  padding: 10px;
}

.input-fields {
  width: 100%;

  .links {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1.2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;

    &:focus {
      border-color: #000;
      outline: none;
    }
  }

  .links_with_border {
    border: 1px solid #ccc;
    border-radius: 5px;

    &:focus {
      border-color: #000;
      outline: none;
    }
  }

  .field {
    display: flex;
    align-items: center;
    margin-top: 20px;

    label {
      margin-left: 10px;
    }
  }
}

.submit-btn {
  padding: 10px;
  background-color: #e68a00;
  color: #fff;
  border: none;
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  width: 100%;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: #222;
  }
}

.actions {
  display: flex;
  background-color: #e68a00;
  padding: 20px;
  color: white;
  width: 100vw;
  justify-content: space-between;

  #back-btn {
    font-size: 1.2rem;
    color: #333;
    text-decoration: none;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: #555;
    }

    i {
      margin-right: 5px;
    }
  }

  h2 {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 0;
  }
}

.no-content-msg {
  display: flex;
  color: white;
  margin: 10px;
  align-items: center;
  gap: 10px;
}

header {
  width: 100%;
  justify-content: space-between;
  background-color: #e68a00;
  padding: 20px 10px 5px 10px;
  display: flex;
  margin-bottom: 10px;
  color: white;

  #menu-btn {
    text-decoration: none;
    color: white;
  }
}

.categories-nav {
  padding: 17.5px;
  justify-content: center;
}

.delete {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: red;
}

#icons-link {
  background-color: white;
  padding: 5px;
  width: fit-content;
  color: initial;
  text-decoration: none;
  display: block;
  margin-left: auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

// Home screen
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(https://watermark.lovepik.com/photo/20211130/large/lovepik-medical-expenditure-picture_501214144.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .inner {
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      color: #e68a00;
      text-align: center;
      font-size: 2.3rem;
      font-weight: bold;
      border: 2px solid #e68a00;
      padding: 20px;
      background-color: white;
    }

    a {
      display: inline-block;
      color: #fff;
      padding: 10px 60px;
      border-radius: 5px;
      border: none;
      font-size: 16px;
      margin-right: 20px;
      transition: background-color 0.3s ease-in-out;
    }

    .signup:hover {
      background-color: gray;
    }

    .login {
      background-color: #e68a00;
      text-decoration: none;
    }
  }
}

.buttons {
  position: absolute;
  bottom: 40px;
  width: 90%;
  left: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

// Sign Up / Login
.devise-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.devise-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 500px;
  padding: 60px 20px;
  background-color: rgba(255, 255, 255, 0.688);
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

// Error explanation
#error_explanation {
  position: absolute;
  top: -100%;
  padding: 10px 25px;
  width: fit-content;
  background-color: red;
  border-radius: 10px;
  animation: slide alternate 3s;
}

@keyframes slide {
  100% {
    top: 0;
  }

  40% {
    top: 0;
  }
}

// Categories page
.categories-wrapper {
  width: 100%;
  max-height: 50vh;
  overflow: auto;

  #categories {
    display: flex;
    margin: 10px 0;
    flex-direction: column;
    gap: 10px;

    .category-card {
      text-decoration: none;
      color: initial;
      width: 100%;

      .category {
        padding: 20px;
        width: 90%;
        margin: 0 auto;
        border-radius: 10px;
        background-color: white;
        display: grid;
        position: relative;
        grid-template-columns: 2fr 3fr;
        gap: 20px;

        img {
          width: 50px;
        }

        .category-info {
          display: flex;
          flex-direction: column;
          gap: 10px;

          p {
            font-size: 0.9rem;
            color: gray;

            strong {
              color: black;
            }
          }
        }
      }
    }
  }
}

#all-categories-link {
  text-decoration: none;
  color: white;
  margin: 10px 0;
}

.category-form {
  width: 90%;
  margin: 0 auto;
}

#new-category-btn,
#new-purchase-btn {
  margin-top: 10px;
  width: fit-content;
  color: white;
  border-radius: 10px;
  padding: 10px 20px;
  box-shadow: 0 0 2px black;
  background-color: #5fb523;
  text-decoration: none;
  cursor: pointer;
}

#add-category-btn,
#add-puchase-btn {
  color: white;
  border-radius: 10px;
  padding: 10px 20px;
  background-color: #5fb523;
}

// Purchase page
.purchase-form {
  width: 100%;
  color: white;
  padding: 0 10px;

  #purchase_group {
    margin-bottom: 10px;
  }
}

.add-purchase-wrapper,
.groups-cost-wrapper {
  display: flex;
  align-items: end;
  justify-content: space-between;
  width: 90%;
  color: white;
  margin: 0 auto;
  padding: 10px 0;
  border-bottom: 1px solid rgb(148, 148, 148);
}

.purchases-wrapper {
  width: 100%;
  max-height: 50vh;
  overflow: auto;
  padding: 10px 0;

  #purchases {
    display: flex;
    flex-direction: column;
    gap: 10px;

    a {
      text-decoration: none;
    }

    #purchase-top-section {
      display: flex;
      padding: 10px 0;
      border-bottom: 1px solid rgb(245, 245, 245);
      justify-content: space-between;
    }

    #created-date {
      font-size: 0.7rem;
      color: gray;
    }
  }
}

.single-purchase {
  background-color: white;
  color: initial;
  border-radius: 5px;
  width: 80%;
  margin: 0 auto;
  position: relative;
  padding: 10px;
}

.detail {
  width: 80%;
  height: 40vh;
  background-color: white;
  color: initial;
  border-radius: 5px;
  margin: 0 auto;
  position: relative;
  padding: 10px;

  .dl {
    border-bottom: 1px solid lightgrey;
  }

  .description {
    padding: 10px;
    color: gray;
  }

  .reciever-info {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 5px;

    #reciever {
      font-size: 1.1rem;
    }

    .created-date {
      color: gray;
      font-size: 0.8rem;
    }
  }

  .price {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
  }
}

footer {
  position: absolute;
  bottom: 5px;
  width: 100%;
  text-align: center;
}

@media screen and (min-width: 576px) {
  .app {
    max-width: 100%;
  }

  header {
    width: 500px;
  }

  #destroy-session {
    background-color: transparent;
    border: none;
    box-shadow: none;
    top: 10px;
    right: 20px;
    width: fit-content;
    height: max-content;
  }

  .signup-wrapper,
  .login-wrapper {
    width: 50%;
    margin: auto;
    height: max-content;
  }

  .categories-wrapper {
    width: 50%;
  }

  .category-form,
  .purchase-form {
    width: 50%;
  }

  .add-purchase-wrapper,
  .purchases-wrapper {
    width: 50%;
  }

  .detail {
    width: 500px;
  }
}

// forgot password
.forgot_pass_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3rem;
    padding: 50px 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.668);
    width: 90%;

    .field {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;
      font-size: 1.2rem;

      label {
        margin-bottom: 0.5rem;
        color: #333;
        font-weight: bold;
      }

      input[type='email'] {
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 3px;
        font-size: 1rem;
        width: 100%;
        box-sizing: border-box;
      }
    }

    input[type='submit'] {
      background-color: #0080ff;
      border: none;
      color: #fff;
      padding: 0.5rem 1rem;
      border-radius: 3px;
      font-size: 1.2rem;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        background-color: #0059b3;
      }
    }
  }

  #error_explanation {
    color: #ff6347;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 1rem;
  }
}
